/**
 * Fonts
 */
@font-face {
  font-family: 'Open_Sans';
  src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Open_Sans';
  src: url("../assets/fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Source_Sans_Pro';
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Source_Sans_Pro';
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Source_Sans_Pro';
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Source_Sans_Pro';
  src: url("../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
  font-weight: 700;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input::-ms-clear {
  display: none; }

/**
  * Global
  */
*,
*::after,
*::before {
  outline: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

input, select, textarea, button {
  -webkit-appearance: none; }

html {
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

::-webkit-scrollbar {
  width: 10px;
  -webkit-box-shadow: inset 0 0 8px;
  background-color: rgba(95, 84, 84, 0.1); }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #e74c3c; }

body {
  height: 100%;
  font-size: 14px;
  font-family: 'Open_Sans';
  font-weight: 400;
  line-height: 1.8;
  color: #999; }

h1 {
  margin: 50px auto;
  font-size: 72px;
  font-family: 'Open_Sans';
  font-weight: bold;
  text-align: center;
  color: #f4f5f9;
  line-height: 1; }

.block-caption__title {
  margin-bottom: 30px;
  margin-top: 140px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Source_Sans_Pro';
  font-weight: 700;
  color: #6a6a6a;
  line-height: 1; }

.block-caption__subtitle {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

button {
  background-color: transparent; }

.btn {
  display: block;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.44);
  max-width: 225px;
  width: 225px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: #f4f5f9;
  line-height: 1;
  cursor: pointer;
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  border-radius: 2px;
  -webkit-transition: background-color .1s ease, color .1s ease;
  -o-transition: background-color .1s ease, color .1s ease;
  transition: background-color .1s ease, color .1s ease; }
  .btn:hover {
    background-color: #fff;
    color: #e74c3c; }

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  z-index: 1;
  margin: 0 auto; }

.dividing-line {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  height: 7px;
  width: 7px;
  background-color: #e74c3c;
  border-radius: 50%; }
  .dividing-line:after {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #999;
    top: 3px;
    right: 21px; }
  .dividing-line:before {
    content: "";
    display: block;
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: #999;
    top: 3px;
    left: 21px; }

@media screen and (max-width: 1259px) {
  .container {
    padding: 0 10px; }
  .block-caption__title {
    margin-top: 100px; } }

@media screen and (max-width: 767px) {
  .container {
    padding: 0 5px; }
  .block-caption__title {
    margin-top: 70px;
    font-size: 30px;
    margin-bottom: 20px; }
  .block-caption__subtitle {
    width: 80%;
    margin-bottom: 20px; } }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  line-height: 1;
  /* Nav toggle */ }
  .header.fixed {
    background-color: rgba(29, 29, 29, 0.945);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, -webkit-transform 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
    -o-transition: background-color 0.3s ease 0s, transform 0.3s ease 0s, box-shadow 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, transform 0.3s ease 0s, box-shadow 0.3s ease 0s;
    transition: background-color 0.3s ease 0s, transform 0.3s ease 0s, box-shadow 0.3s ease 0s, -webkit-transform 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s; }
    .header.fixed .header__inner {
      padding: 20px 0; }
  .header.hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .header.noanim,
  .header.noanim * {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important; }
  .header__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    padding: 40px 0; }
  .header__nav-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header__logo {
    cursor: pointer; }
  .header__nav-link {
    display: inline-block;
    margin-left: 60px;
    position: relative;
    font-family: 'Open_Sans';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #f4f5f9;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
    cursor: pointer; }
    .header__nav-link:first-child {
      margin-left: 0; }
    .header__nav-link:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      opacity: 0;
      background-color: #e74c3c;
      -webkit-transition: opacity .2s ease;
      -o-transition: opacity .2s ease;
      transition: opacity .2s ease; }
    .header__nav-link:first-child {
      padding-left: 0; }
    .header__nav-link:hover {
      color: #e74c3c; }
      .header__nav-link:hover:after {
        opacity: 1; }
  .header .nav-toggle {
    width: 45px;
    height: 45px;
    display: none;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 1; }
    .header .nav-toggle__item {
      position: relative;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #fff;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      -webkit-transition: background .2s linear;
      -o-transition: background .2s linear;
      transition: background .2s linear; }
    .header .nav-toggle.active .nav-toggle__item {
      background: none; }
      .header .nav-toggle.active .nav-toggle__item:before {
        -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
                transform-origin: left top;
        -webkit-transform: rotate(45deg) translate3d(0px, -2px, 0);
                transform: rotate(45deg) translate3d(0px, -2px, 0); }
      .header .nav-toggle.active .nav-toggle__item:after {
        -webkit-transform-origin: left bottom;
            -ms-transform-origin: left bottom;
                transform-origin: left bottom;
        -webkit-transform: rotate(-45deg) translate3d(0px, 3px, 0);
                transform: rotate(-45deg) translate3d(0px, 3px, 0); }
    .header .nav-toggle__item:before, .header .nav-toggle__item:after {
      content: "";
      width: 100%;
      height: 4px;
      background-color: #fff;
      position: absolute;
      left: 0;
      z-index: 1;
      -webkit-transition: -webkit-transform .2s linear;
      transition: -webkit-transform .2s linear;
      -o-transition: transform .2s linear;
      transition: transform .2s linear;
      transition: transform .2s linear, -webkit-transform .2s linear; }
    .header .nav-toggle__item:before {
      top: -14px; }
    .header .nav-toggle__item:after {
      bottom: -14px; }
  @media screen and (max-width: 1259px) {
    .header__inner {
      padding: 20px 0; }
    .header__logo {
      margin-left: 10px; }
    .header__nav {
      position: absolute;
      left: 0;
      top: 94px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
    .header .nav-toggle {
      margin-right: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .header__nav-inner {
      background-color: rgba(48, 46, 46, 0.815);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      width: 100%; }
    .header__nav-link {
      margin-left: 0;
      width: 20%;
      text-align: right;
      font-size: 28px;
      margin: 10px 0;
      margin-right: 30px; }
      .header__nav-link:after {
        display: none; } }
  @media screen and (max-width: 767px) {
    .header__nav-inner {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; }
    .header__nav-link {
      width: auto;
      text-align: center;
      margin: 0 0; } }

.page {
  max-width: 100%; }
  .page .page-slider {
    position: relative; }
    .page .page-slider__item {
      max-width: 100%;
      height: auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      -webkit-box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.7) inset;
              box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.7) inset;
      padding-top: 326px; }
      .page .page-slider__item:before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        border: 10vh solid transparent;
        border-bottom: 0px solid transparent;
        border-right: 0px solid transparent;
        border-left: 50vw solid #fff; }
      .page .page-slider__item:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        border: 10vh solid transparent;
        border-bottom: 0px solid transparent;
        border-left: 0px solid transparent;
        border-right: 50vw solid #fff; }
    .page .page-slider__inner {
      height: auto; }
  .page .page-caption__suptitle {
    font-family: 'Source_Sans_Pro';
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #f4f5f9; }
  .page .page-caption__dividing-line:after {
    background-color: #f4f5f9; }
  .page .page-caption__dividing-line:before {
    background-color: #f4f5f9; }
  .page .page-caption__text {
    width: 600px;
    margin-top: 45px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #f4f5f9;
    text-align: center;
    font-size: 14px;
    line-height: 1.5; }
  .page .page-caption__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 265px; }
  .page .page-caption__btn {
    width: 225px;
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: auto;
    padding-right: auto;
    font-weight: 700;
    font-size: 14px;
    color: #f4f5f9;
    border: 2px solid #f4f5f9;
    border-radius: 3px;
    background-color: transparent;
    -webkit-transition: background-color .1s ease, border-color .1s ease;
    -o-transition: background-color .1s ease, border-color .1s ease;
    transition: background-color .1s ease, border-color .1s ease;
    cursor: pointer; }
    .page .page-caption__btn:hover {
      background-color: #e74c3c;
      border-color: #e74c3c; }
  .page .page-caption__btn--left {
    margin-right: 15px; }
    .page .page-caption__btn--left:hover {
      color: #fff; }
  .page .page-caption__btn--right {
    margin-left: 15px; }
    .page .page-caption__btn--right:hover {
      color: #fff; }
  .page .page-anchor {
    position: absolute;
    left: -webkit-calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    height: 0;
    cursor: pointer; }
    .page .page-anchor:before {
      display: block;
      content: "";
      position: absolute;
      width: 66px;
      height: 66px;
      border-radius: 50%;
      background-color: #f4f5f9;
      top: 50%;
      left: 50%;
      -webkit-transition: background-color .3s ease;
      -o-transition: background-color .3s ease;
      transition: background-color .3s ease;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 2; }
    .page .page-anchor:after {
      display: block;
      content: "";
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #fff;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-animation-duration: .8s;
              animation-duration: .8s;
      -webkit-animation-name: Circle;
              animation-name: Circle;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      z-index: 1; }

@-webkit-keyframes Circle {
  0% {
    width: 66px;
    height: 66px;
    opacity: .4; }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0; } }

@keyframes Circle {
  0% {
    width: 66px;
    height: 66px;
    opacity: .4; }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0; } }
    .page .page-anchor__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      fill: #e74c3c;
      height: 31px;
      width: 22px;
      z-index: 5;
      -webkit-transition: fill .3s ease;
      -o-transition: fill .3s ease;
      transition: fill .3s ease;
      z-index: 2; }
    .page .page-anchor:hover:before {
      background-color: #e74c3c; }
    .page .page-anchor:hover .page-anchor__icon {
      fill: #fff; }
  .page .slick-arrow {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    font-size: 0;
    position: absolute;
    display: block;
    background-color: #000;
    opacity: .1;
    top: 45%;
    z-index: 1;
    cursor: pointer;
    border: none;
    -webkit-transition: background-color .1s ease, opacity .1s ease, border-color .1s ease;
    -o-transition: background-color .1s ease, opacity .1s ease, border-color .1s ease;
    transition: background-color .1s ease, opacity .1s ease, border-color .1s ease; }
  .page .slick-arrow:hover {
    opacity: 1;
    background-color: #e74c3c;
    border-color: #e74c3c; }
  .page .slick-arrow:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 1; }
  .page .slick-prev {
    margin-left: 50px;
    left: 0; }
    .page .slick-prev:after {
      margin-left: 40%;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .page .slick-next {
    margin-right: 50px;
    right: 0; }
    .page .slick-next:after {
      margin-left: 27%; }
  @media screen and (max-width: 1259px) {
    .page .page-slider__item {
      padding-top: 175px; }
    .page .page-caption__title {
      margin: 25px auto;
      font-size: 52px; }
    .page .page-caption__suptitle {
      font-size: 16px; }
    .page .page-caption__text {
      margin-top: 25px; }
    .page .page-caption__buttons {
      margin-bottom: 160px; }
    .page .page-caption__btn {
      width: 160px;
      padding-top: 15px;
      padding-bottom: 15px; } }
  @media screen and (max-width: 767px) {
    .page .page-slider__item {
      padding-top: 115px; }
    .page .page-caption__title {
      font-size: 36px;
      width: 80%;
      line-height: 1.1; }
    .page .page-caption__suptitle {
      font-size: 16px; }
    .page .page-caption__text {
      width: 78.5%;
      font-size: 14px; }
    .page .page-caption__buttons {
      margin-bottom: 70px; }
    .page .page-caption__btn {
      width: 100px;
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 12px;
      margin-right: 8px;
      margin-left: 8px; }
    .page .slick-arrow {
      display: none; } }

.advantages {
  background-color: #fff;
  border-bottom: 1px solid #e6e7eb; }
  .advantages__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 124px;
    margin-bottom: 112px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .advantages__item {
    width: 25%;
    text-align: center; }
  .advantages__logo {
    position: relative;
    cursor: pointer;
    width: 73px;
    height: 73px;
    margin: 0 auto; }
    .advantages__logo:after {
      content: '';
      display: block;
      position: absolute;
      width: 73px;
      height: 73px;
      border: 1px solid #e5e5e5;
      -webkit-transition: border-color .1s ease, -webkit-transform .1s ease;
      transition: border-color .1s ease, -webkit-transform .1s ease;
      -o-transition: border-color .1s ease, transform .1s ease;
      transition: border-color .1s ease, transform .1s ease;
      transition: border-color .1s ease, transform .1s ease, -webkit-transform .1s ease; }
    .advantages__logo:hover:after {
      border: 1px solid #e74c3c;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  .advantages__logo-border {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 73px;
    height: 73px;
    border: 1px solid #e5e5e5;
    -webkit-transition: border-color .1s ease, -webkit-transform .1s ease;
    transition: border-color .1s ease, -webkit-transform .1s ease;
    -o-transition: border-color .1s ease, transform .1s ease;
    transition: border-color .1s ease, transform .1s ease;
    transition: border-color .1s ease, transform .1s ease, -webkit-transform .1s ease;
    cursor: pointer;
    z-index: 1; }
  .advantages__logo-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 0; }
  .advantages__title {
    margin-top: 30px;
    color: #6a6a6a;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Open_Sans';
    font-weight: 600;
    line-height: 1; }
    .advantages__title:after {
      content: '';
      display: block;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      height: 1px;
      width: 40px;
      background-color: #6a6a6a; }
  .advantages__text {
    margin-top: 20px;
    max-width: 292.5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 37px;
    font-size: 12px;
    font-family: 'Source_Sans_Pro';
    font-weight: 300;
    line-height: 1.3;
    color: #999999; }
  @media screen and (max-width: 1259px) {
    .advantages__inner {
      margin-top: 64px;
      margin-bottom: 62px; }
    .advantages__item {
      width: 50%;
      margin-bottom: 40px; }
    .advantages__title {
      margin-top: 25px;
      font-size: 16px; }
    .advantages__text {
      padding: 0; } }
  @media screen and (max-width: 767px) {
    .advantages__item {
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .advantages__inner {
      margin-top: 64px;
      margin-bottom: 22px; }
    .advantages__title {
      margin-top: 25px;
      font-size: 16px; }
    .advantages__text {
      width: 80%;
      padding: 0 15px;
      font-size: 15px; } }

.history {
  background-color: #fff;
  padding: 140px 0; }
  .history p {
    margin-top: 50px; }
  .history__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .history__img {
    width: 86.5%; }
  .history__bg-img {
    width: 100%;
    padding-top: 80.5%;
    background-size: cover;
    background-repeat: no-repeat; }
  .history__item {
    width: 50%; }
  .history__img .history__btn {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .history__title {
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Source_Sans_Pro';
    font-weight: 700;
    color: #6a6a6a;
    line-height: 1;
    border-left: 6px solid #e74c3c;
    padding-left: 30px; }
  .history__text {
    font-size: 14px;
    font-family: 'Source_Sans_Pro';
    font-weight: 400;
    color: #999;
    line-height: 1.8; }
  .history__btn {
    margin-top: 50px; }
  @media screen and (max-width: 1259px) {
    .history {
      padding: 100px; }
      .history p {
        margin-top: 28px; }
      .history__btn {
        margin-top: 26px; }
      .history__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media screen and (max-width: 995px) {
    .history__img .history__btn {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .history__content .history__btn {
      display: none; } }
  @media screen and (max-width: 767px) {
    .history {
      padding: 40px 0; }
      .history__item--img {
        display: none; }
      .history__item--content {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px; }
        .history__item--content .history__btn {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
      .history__title {
        font-size: 30px; }
      .history__btn {
        margin-left: auto;
        margin-right: auto; } }

.service .service__inner {
  background-color: #202020;
  max-height: 764px;
  min-height: 568px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.service .service-content {
  width: 54%;
  position: relative; }

.service .service-content__title {
  position: absolute;
  padding-right: 80px;
  bottom: 80.37%;
  right: 0; }

.service .service-content__title-text {
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'Source_Sans_Pro';
  font-weight: 700;
  color: #f4f5f9;
  line-height: 1;
  border-right: 6px solid #e74c3c;
  padding-right: 30px; }

.service .service-content__inner {
  position: absolute;
  width: 60%;
  right: 0;
  bottom: 18%;
  text-align: right; }

.service .service-content__caption {
  position: relative;
  font-family: 'Open_Sans';
  font-size: 18px;
  font-weight: 600;
  color: #e74c3c;
  text-transform: uppercase;
  padding-right: 80px;
  margin-bottom: 15px; }

.service .service-content__text {
  font-size: 14px;
  font-family: 'Source_Sans_Pro';
  font-weight: 400;
  color: #999;
  line-height: 1.8;
  padding-right: 80px;
  margin-bottom: 65px;
  height: 50px;
  overflow: hidden; }
  .service .service-content__text:last-child {
    margin-bottom: 0; }

.service .service-icon {
  position: absolute;
  top: -20px;
  right: -webkit-calc(0% - 34px);
  right: calc(0% - 34px);
  width: 68px;
  height: 68px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.service .service-icon__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: rgba(216, 216, 216, 0.329);
  border-radius: 50%;
  cursor: pointer; }
  .service .service-icon__circle:hover {
    background-color: #e74c3c; }

.service .service-icon__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #f4f5f9;
  border-radius: 50%; }

.service .service-gallery {
  width: 46%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.service .service-gallery__img {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.service .slick-dots {
  margin-left: 50px;
  padding: 0 0 10px;
  list-style: none;
  position: absolute;
  bottom: 35%;
  opacity: 100%; }
  .service .slick-dots li {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer; }
  .service .slick-dots button {
    width: 1px;
    height: 34px;
    padding: 0;
    background: #3e3e3e;
    border: 0;
    font-size: 0;
    color: transparent; }
  .service .slick-dots .slick-active button {
    background: #e74c3c; }

@media screen and (max-width: 1650px) {
  .service .service-content__inner {
    bottom: 10%; } }

@media screen and (max-width: 1440px) {
  .service .service-content__text {
    margin-bottom: 40px; } }

@media screen and (max-width: 1259px) {
  .service .service-content {
    width: 100%;
    text-align: center;
    right: 20%; }
  .service .service-gallery {
    display: none; } }

@media screen and (max-width: 767px) {
  .service .service-content {
    right: 0;
    text-align: right; }
  .service .service__inner {
    padding-left: 25px;
    padding-right: 25px; }
  .service .service-content__title {
    top: 10%;
    padding-right: 0; }
  .service .service-content__inner {
    right: auto;
    width: 100%; }
  .service .service-content__caption {
    padding-right: 0; }
  .service .service-content__text {
    padding-right: 0; }
  .service .service-icon {
    right: auto;
    left: 5%;
    top: -webkit-calc(0% - 24px);
    top: calc(0% - 24px); }
  .service .slick-dots {
    margin-left: -5px; } }

.works {
  padding-top: 140px; }
  .works .works-filter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 67px;
    margin-bottom: 50px; }
  .works .works-filter__item {
    position: relative;
    padding-right: 20px;
    padding-left: 20px;
    color: #999;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer; }
    .works .works-filter__item:first-child {
      padding-left: 0; }
    .works .works-filter__item:last-child {
      padding-right: 0; }
      .works .works-filter__item:last-child:after {
        display: none; }
    .works .works-filter__item:focus {
      color: #e74c3c;
      font-weight: 700; }
    .works .works-filter__item:hover {
      color: #e74c3c; }
    .works .works-filter__item:after {
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
      content: "";
      width: 1px;
      height: 14px;
      -webkit-transform: rotate(20deg);
          -ms-transform: rotate(20deg);
              transform: rotate(20deg);
      background-color: #999; }
  .works .block-caption__title {
    margin-top: 0; }
  .works .works-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .works .works-card__item {
    width: 25%; }
  .works .works-card__inner {
    position: relative;
    background-color: #e74c3c;
    overflow: hidden;
    cursor: pointer; }
    .works .works-card__inner:hover .works-card__img {
      opacity: .2; }
    .works .works-card__inner:hover .works-card__info {
      opacity: 1; }
  .works .works-card__img {
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .works .works-card__info {
    position: absolute;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    -o-transition: opacity .1s linear;
    transition: opacity .1s linear; }
  .works .works-card__title {
    margin-top: 35px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Source_Sans_Pro';
    font-weight: 600;
    line-height: 1; }
    .works .works-card__title:before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      height: 4px;
      width: 44px;
      background-color: #fff; }
  .works .works-card__text {
    line-height: 1; }
  .works .works-category {
    margin: 20px 0;
    width: 100%;
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .works .works-category:hover {
      color: #e74c3c; }
    .works .works-category a {
      font-size: 18px; }
  .works .works-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 100; }
  .works .jq-selectbox {
    display: none;
    position: fixed;
    top: 15%;
    left: -webkit-calc(50% - 125px);
    left: calc(50% - 125px);
    width: 250px;
    color: #e74c3c;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 28px;
    z-index: 104;
    background-color: #fff;
    text-align: center;
    border: 1px solid #999;
    border-radius: 4px;
    cursor: pointer; }
  .works .jq-selectbox__dropdown {
    background-color: #fff;
    width: 250px;
    color: #999;
    border: 1px solid #999;
    border-radius: 4px;
    left: -1px; }
  .works li:hover {
    background-color: #e74c3c;
    opacity: .8; }
  @media screen and (max-width: 1259px) {
    .works {
      padding-top: 100px; }
      .works .works-card__item {
        width: 50%; }
      .works .works-filter__item {
        padding: 0 10px; }
      .works .works-filter {
        margin: 30px 0; } }
  @media screen and (max-width: 767px) {
    .works {
      padding-top: 40px; }
      .works .works-card__item {
        width: 100%; }
      .works .works-category {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .works .works-filter {
        display: none; } }

.study {
  background-color: #f4f5f9;
  padding-top: 140px;
  padding-bottom: 150px; }
  .study .block-caption__title {
    margin-top: 0; }
  .study-content {
    margin-top: 67px; }
  .study-slider__item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: auto; }
  .study-slider__content {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    padding-bottom: 115px;
    padding-left: 47px;
    padding-right: 47px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.32);
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.32);
    left: 0;
    width: 56.84%;
    background-color: #fff; }
  .study-slider__logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .study-slider__bg {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    background-color: #e74c3c;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .study-slider__icon {
    position: absolute;
    width: 21px;
    height: 34px; }
  .study-slider__title {
    position: relative;
    padding-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 70px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1;
    font-family: 'Open_Sans';
    font-weight: 600;
    color: #999; }
    .study-slider__title:after {
      position: absolute;
      bottom: 0;
      width: 40px;
      height: 2px;
      display: block;
      content: "";
      background-color: #999; }
  .study-slider__text {
    margin-top: 27px;
    text-align: center;
    font-family: 'Source_Sans_Pro';
    font-weight: 300;
    font-size: 14px;
    color: #999;
    line-height: 1.5; }
  .study-slider__btn {
    margin-top: 45px; }
  .study .btn {
    width: 145px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px; }
  .study-slider__img-content {
    width: 50%; }
  .study-slider__img {
    padding-top: 123.42%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .study .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    width: 56.84%;
    position: absolute;
    bottom: 13%;
    z-index: 2; }
    .study .slick-dots li {
      margin-right: 8px; }
      .study .slick-dots li:last-child {
        margin-right: 0; }
    .study .slick-dots button {
      width: 12px;
      height: 12px;
      padding: 0;
      background: #f4f5f9;
      border: 0;
      border-radius: 50%;
      cursor: pointer;
      font-size: 0;
      color: transparent; }
    .study .slick-dots .slick-active button {
      background: #e74c3c; }
  @media screen and (max-width: 1259px) {
    .study {
      padding: 70px 0; }
      .study-slider__item {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .study-slider__content {
        width: 100%;
        opacity: .9;
        height: 100%;
        left: auto;
        padding: 0 0;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .study .slick-dots {
        width: 100%;
        bottom: -7%; }
        .study .slick-dots button {
          background: #999; }
      .study-slider__title {
        margin-top: 30px; }
      .study-slider__text {
        width: 60%; }
      .study-slider__content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
      .study-slider__img-content {
        width: 100%; }
      .study-slider__img {
        padding-top: 80%; } }
  @media screen and (max-width: 767px) {
    .study-content {
      margin-top: 30px; }
    .study-slider__logo {
      display: none; }
    .study-slider__content {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .study-slider__btn {
      position: absolute;
      bottom: 8%;
      margin-top: 20px; }
    .study .btn {
      padding: 10px 0; }
    .study .slick-dots {
      bottom: -10%; } }
  @media screen and (max-width: 450px) {
    .study-slider__content {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
    .study-slider__title {
      margin-top: 25px;
      font-size: 16px;
      padding: 0; }
      .study-slider__title:after {
        display: none; }
    .study-slider__text {
      width: 90%;
      margin-top: 20px;
      line-height: 1.3;
      font-size: 16px; } }

.stats .container {
  padding: 0 30px; }

.stats .stats__inner {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.stats .stats__bg {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 158px;
  padding-bottom: 144px;
  -webkit-box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.5) inset;
          box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.5) inset; }

.stats .stats__item {
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.stats .stats__logo {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 110px;
  height: 110px;
  border: 1px solid #f4f5f9;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color .1s ease, border-color .1s ease;
  -o-transition: background-color .1s ease, border-color .1s ease;
  transition: background-color .1s ease, border-color .1s ease; }
  .stats .stats__logo:hover {
    background-color: #e74c3c;
    border-color: #e74c3c; }

.stats .stats__icon {
  position: absolute; }

.stats .stats__number {
  margin-top: 50px;
  margin-bottom: 18px;
  font-family: 'Source_Sans_Pro';
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  color: #f4f5f9;
  text-transform: uppercase; }

.stats .stats__text {
  font-family: 'Source_Sans_Pro';
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  color: #f4f5f9; }

@media screen and (max-width: 1023px) {
  .stats .stats__bg {
    padding-top: 100px;
    padding-bottom: 100px; }
  .stats .stats__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .stats .stats__item {
    width: 33.333%;
    margin-bottom: 30px; }
    .stats .stats__item:last-child {
      margin-bottom: 0; }
    .stats .stats__item:nth-child(4) {
      margin-bottom: 0; } }

@media screen and (max-width: 767px) {
  .stats .stats__item {
    width: 50%;
    margin-bottom: 50px; }
    .stats .stats__item:nth-child(4) {
      margin-bottom: 50px; }
  .stats .stats__number {
    margin-top: 20px; } }

@media screen and (max-width: 586px) {
  .stats .stats__bg {
    padding-top: 50px;
    padding-bottom: 50px; }
  .stats .stats__logo {
    width: 70px;
    height: 70px; }
  .stats .stats__item {
    width: 100%; } }

.price {
  padding-top: 140px; }
  .price .block-caption__title {
    margin-top: 0; }
  .price .price__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-top: 68px;
    margin-bottom: 143px; }
  .price .price-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33.3333%;
    margin-right: 16px;
    cursor: pointer; }
    .price .price-item:last-child {
      margin-right: 0; }
    .price .price-item:hover .price-item__header {
      background-color: #e74c3c; }
    .price .price-item:target .price-item__header {
      background-color: #e74c3c; }
    .price .price-item:focus .price-item__header {
      background-color: #e74c3c; }
  .price .price-item__header {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 138px;
    background-color: #999;
    font-family: 'Open_Sans';
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease; }
  .price .price-item__header--is-active {
    background-color: #e74c3c; }
  .price .price-circle {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    top: 23%;
    width: 175px;
    height: 175px;
    background-color: transparent; }
    .price .price-circle:before {
      position: absolute;
      display: block;
      content: "";
      width: 155px;
      height: 155px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 2; }
    .price .price-circle:after {
      display: block;
      content: "";
      width: 175px;
      height: 175px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 1;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-name: priceCircle;
              animation-name: priceCircle;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }

@-webkit-keyframes priceCircle {
  from {
    width: 155px;
    height: 155px;
    opacity: .3; }
  to {
    width: 190px;
    height: 190px;
    opacity: .0001; } }

@keyframes priceCircle {
  from {
    width: 155px;
    height: 155px;
    opacity: .3; }
  to {
    width: 190px;
    height: 190px;
    opacity: .0001; } }
  .price .price-circle__external {
    position: absolute;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center; }
  .price .price-circle__cost {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 1;
    font-family: 'Source_Sans_Pro';
    font-weight: 700; }
  .price .price-circle__text {
    font-size: 13px;
    line-height: 1;
    font-family: 'Source_Sans_Pro';
    font-weight: 400; }
  .price .price-item__info {
    width: 100%;
    padding-top: 128px;
    padding-bottom: 50px;
    padding-left: 88px;
    padding-right: 88px;
    background-color: #f4f5f9; }
  .price .price-item__text {
    text-align: center;
    font-family: 'Open_Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 2.5;
    color: #999; }
  .price .price-item__btn {
    width: 145px;
    background-color: #999;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; }
    .price .price-item__btn:hover {
      background-color: #fff;
      color: #e74c3c; }
  @media screen and (max-width: 1259px) {
    .price {
      padding-top: 100px; }
      .price .price__content {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 80px;
        margin-top: 40px; }
      .price .price-circle__cost {
        font-size: 30px; }
      .price .price-circle {
        top: 27%;
        width: 130px;
        height: 130px; }
        .price .price-circle:before {
          width: 110px;
          height: 110px; }
        .price .price-circle:after {
          width: 130px;
          height: 130px; }
    @-webkit-keyframes priceCircle {
      from {
        width: 110px;
        height: 110px;
        opacity: .3; }
      to {
        width: 150px;
        height: 150px;
        opacity: .0001; } }
    @keyframes priceCircle {
      from {
        width: 110px;
        height: 110px;
        opacity: .3; }
      to {
        width: 150px;
        height: 150px;
        opacity: .0001; } }
      .price .price-item__info {
        padding-top: 90px; }
      .price .price-item__text {
        width: 85%;
        margin-left: auto;
        margin-right: auto; }
      .price .price-item {
        width: 60%;
        margin-bottom: 40px;
        margin-right: 0; }
        .price .price-item:last-child {
          margin-bottom: 0; } }
  @media screen and (max-width: 767px) {
    .price {
      padding-top: 40px; }
      .price .price-item__info {
        padding-top: 78px;
        padding-bottom: 50px;
        padding-left: 0;
        padding-right: 0; }
      .price .price-item__header {
        padding-bottom: 65px; }
      .price .price-item {
        width: 85%; }
      .price .price-circle {
        top: 17%; } }

.team {
  position: relative; }
  .team .team__bg {
    width: 100%;
    position: relative; }
  .team .team__bg-inner {
    padding-top: 38.75%;
    background-size: cover;
    background-repeat: no-repeat; }
    .team .team__bg-inner:before {
      position: absolute;
      top: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: .5;
      z-index: 1; }
  .team .team__bg-red {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-top: 33.96%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2; }
  .team .blog-caption--team {
    position: absolute;
    top: 0;
    z-index: 30;
    width: 100%; }
  .team .block-caption__title {
    color: #fff; }
  .team .block-caption__subtitle {
    color: #fff; }
  .team .team__members {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    height: 100%; }
  .team .team__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%; }
  .team .container {
    max-width: 62.5%;
    height: 100%; }
  .team .team__member {
    position: relative;
    width: 90px;
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    cursor: auto; }
    .team .team__member:first-child {
      bottom: -58%;
      margin-left: -15px; }
    .team .team__member:nth-child(2) {
      bottom: -51%; }
    .team .team__member:nth-child(3) {
      bottom: -50%; }
    .team .team__member:nth-child(4) {
      bottom: -55%; }
    .team .team__member:last-child {
      bottom: -49%;
      margin-right: -15px; }
    .team .team__member:hover .team__circle {
      width: 90px;
      height: 90px;
      -webkit-box-shadow: 0px 1px 24px 10px rgba(0, 0, 0, 0.85);
              box-shadow: 0px 1px 24px 10px rgba(0, 0, 0, 0.85); }
    .team .team__member:hover .team__img {
      opacity: .5;
      width: 81px;
      height: 81px; }
    .team .team__member:hover .team__info {
      opacity: 1; }
  .team .team__circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 62px;
    height: 62px;
    background-color: #e74c3c;
    border-radius: 50%;
    -webkit-transition: width .2s linear, height .2s linear, -webkit-box-shadow .2s linear;
    transition: width .2s linear, height .2s linear, -webkit-box-shadow .2s linear;
    -o-transition: width .2s linear, height .2s linear, box-shadow .2s linear;
    transition: width .2s linear, height .2s linear, box-shadow .2s linear;
    transition: width .2s linear, height .2s linear, box-shadow .2s linear, -webkit-box-shadow .2s linear;
    cursor: pointer; }
  .team .team__img {
    width: 55px;
    height: 55px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: width .2s linear, height .2s linear;
    -o-transition: width .2s linear, height .2s linear;
    transition: width .2s linear, height .2s linear;
    border-radius: 50%; }
  .team .team__info {
    width: 300%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    top: 150%;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease; }
  .team .info__name {
    font-family: 'Open_Sans';
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: #e74c3c;
    text-transform: uppercase;
    text-align: center;
    z-index: 3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .team .info__name:before {
      position: absolute;
      display: block;
      content: "";
      width: 1px;
      height: 33px;
      background-color: #fff;
      top: -75%; }
  .team .info__prof {
    margin-top: 20px;
    font-family: 'Source_Sans_Pro';
    color: #fff;
    line-height: 1; }
  @media screen and (max-width: 2560px) {
    .team .team__member:first-child {
      bottom: -59%;
      margin-left: -15px; }
    .team .team__member:nth-child(2) {
      bottom: -52%; }
    .team .team__member:nth-child(3) {
      bottom: -52%; }
    .team .team__member:nth-child(4) {
      bottom: -57%; }
    .team .team__member:last-child {
      bottom: -50%;
      margin-right: -15px; } }
  @media screen and (max-width: 2136px) {
    .team .team__member:first-child {
      bottom: -57%;
      margin-left: -15px; }
    .team .team__member:nth-child(2) {
      bottom: -51%; }
    .team .team__member:nth-child(3) {
      bottom: -50%; }
    .team .team__member:nth-child(4) {
      bottom: -56%; }
    .team .team__member:last-child {
      bottom: -49%;
      margin-right: -15px; } }
  @media screen and (max-width: 1500px) {
    .team .block-caption__title {
      margin-top: 100px; }
    .team .team__member:first-child {
      bottom: -55%;
      margin-left: -15px; }
    .team .team__member:nth-child(2) {
      bottom: -48%; }
    .team .team__member:nth-child(3) {
      bottom: -48%; }
    .team .team__member:nth-child(4) {
      bottom: -53%; }
    .team .team__member:last-child {
      bottom: -47%;
      margin-right: -15px; } }
  @media screen and (max-width: 1259px) {
    .team .team__bg-red {
      display: none; }
    .team .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding-bottom: 100px; }
    .team .team__inner {
      height: 60%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .team .team__inner:after {
        position: absolute;
        top: 0;
        left: 20%;
        display: block;
        content: "";
        width: 3px;
        height: 100%;
        background-color: #e74c3c; }
    .team .team__info {
      position: absolute;
      top: 40%;
      right: -320%; }
    .team .info__name:before {
      width: 53px;
      height: 1px;
      top: 20%;
      left: 0; }
    .team .team__member {
      position: relative;
      -webkit-box-pack: start;
      -webkit-justify-content: start;
          -ms-flex-pack: start;
              justify-content: start;
      width: auto;
      height: auto; }
      .team .team__member:first-child {
        left: -webkit-calc(0% - 25px);
        left: calc(0% - 25px);
        margin: 0 0;
        bottom: 0; }
      .team .team__member:nth-child(2) {
        bottom: 0%;
        left: -webkit-calc(0% - 25px);
        left: calc(0% - 25px); }
      .team .team__member:nth-child(3) {
        bottom: 0%;
        left: -webkit-calc(0% - 25px);
        left: calc(0% - 25px); }
      .team .team__member:nth-child(4) {
        bottom: 0%;
        left: -webkit-calc(0% - 25px);
        left: calc(0% - 25px); }
      .team .team__member:last-child {
        bottom: 0%;
        left: -webkit-calc(0% - 25px);
        left: calc(0% - 25px);
        margin-right: 0; }
      .team .team__member:hover {
        left: -webkit-calc(-10% - 31px);
        left: calc(-10% - 31px); }
        .team .team__member:hover .team__circle {
          width: 90px;
          height: 90px;
          -webkit-box-shadow: 0px 1px 24px 10px rgba(0, 0, 0, 0.85);
                  box-shadow: 0px 1px 24px 10px rgba(0, 0, 0, 0.85); }
        .team .team__member:hover .team__img {
          opacity: .5;
          width: 81px;
          height: 81px; }
        .team .team__member:hover .team__info {
          opacity: 1; }
    .team .team__bg-inner {
      padding-top: 100%; } }
  @media screen and (max-width: 767px) {
    .team .team__inner {
      height: 80%;
      max-height: 700px; }
    .team .info__name {
      font-size: 16px; }
      .team .info__name:before {
        width: 33px;
        height: 1px;
        top: 15%;
        left: 15%; }
    .team .team__info {
      position: absolute;
      top: 40%;
      right: -260%; }
    .team .blog-caption--team {
      left: 30%;
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .team .block-caption__title {
      margin-top: 20px; }
    .team .block-caption__subtitle {
      display: none; } }
  @media screen and (max-width: 606px) {
    .team .team__bg-inner {
      padding-top: 130%; } }
  @media screen and (max-width: 467px) {
    .team .team__bg-inner {
      padding-top: 150%; } }
  @media screen and (max-width: 400px) {
    .team .team__bg-inner {
      padding-top: 200%; } }

.others {
  background-color: #f4f5f9;
  padding-top: 140px;
  border-bottom: 1px solid #d8d9db; }
  .others .block-caption__title {
    margin-top: 0; }
  .others .others__content {
    width: 100%;
    margin-top: 67px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 140px; }
  .others .others__item {
    width: 17.5%;
    height: 100px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    -webkit-transition: border .1s linear;
    -o-transition: border .1s linear;
    transition: border .1s linear; }
    .others .others__item:hover {
      border: 3px solid #e74c3c; }
      .others .others__item:hover .others__img-2 {
        display: block; }
      .others .others__item:hover .others__img-1 {
        display: none; }
  .others .dividing-line {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    height: 7px;
    width: 7px;
    background-color: #e74c3c;
    border-radius: 50%; }
    .others .dividing-line:after {
      content: "";
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: #999;
      top: 3px;
      right: 21px; }
    .others .dividing-line:before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      height: 1px;
      background-color: #999;
      top: 3px;
      left: 21px; }
  .others .others__img-2 {
    display: none; }
  @media screen and (max-width: 1259px) {
    .others {
      padding-top: 100px; }
      .others .others__content {
        margin-top: 40px;
        padding-bottom: 50px; }
      .others .others__item {
        width: 30%; }
        .others .others__item:last-child {
          margin-left: auto;
          margin-right: auto; } }
  @media screen and (max-width: 767px) {
    .others {
      padding-top: 40px; }
      .others .others__content {
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        padding-bottom: 30px; }
      .others .others__item {
        width: 35%;
        height: 70px; }
        .others .others__item:last-child {
          margin-left: 0;
          margin-right: 0; }
        .others .others__item:first-child img {
          height: 50%; }
        .others .others__item:nth-child(2) img {
          height: 35px; }
        .others .others__item:nth-child(5) img {
          width: 75px; }
      .others img {
        width: 100px;
        height: 49px; } }
  @media screen and (max-width: 423px) {
    .others .others__item {
      width: 45%; } }

.blog {
  background-color: #f4f5f9;
  padding-top: 140px; }
  .blog .block-caption__title {
    margin-top: 0; }
  .blog .blog__content {
    margin-top: 69px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .blog .blog__item {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .blog .blog__item:nth-child(3) .item__img {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-pack: start;
      -webkit-justify-content: start;
          -ms-flex-pack: start;
              justify-content: start; }
      .blog .blog__item:nth-child(3) .item__img:before {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
    .blog .blog__item:nth-child(4) .item__img {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-pack: start;
      -webkit-justify-content: start;
          -ms-flex-pack: start;
              justify-content: start; }
      .blog .blog__item:nth-child(4) .item__img:before {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
  .blog .item__img {
    width: 50%;
    padding-top: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative; }
    .blog .item__img:before {
      position: absolute;
      display: block;
      content: "";
      top: 45%;
      border-top: 34px solid transparent;
      border-right: 20px solid #e74c3c;
      border-bottom: 34px solid transparent; }
  .blog .item__content {
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0 6%;
    color: #fff;
    background-color: #e74c3c; }
  .blog .content__supTitle {
    line-height: 1; }
  .blog .content__title {
    position: relative;
    font-family: 'Source_Sans_Pro';
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: 25px; }
    .blog .content__title:before {
      position: absolute;
      display: block;
      content: "";
      bottom: 0;
      left: 0;
      height: 4px;
      width: 44px;
      background-color: #fff; }
  .blog .content__text {
    font-size: 16px;
    line-height: 1.9; }
  .blog .content__footerText {
    position: relative;
    width: 120px;
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 1;
    font-family: 'Open_Sans';
    font-weight: 600;
    font-style: italic;
    cursor: pointer; }
    .blog .content__footerText:after {
      position: absolute;
      display: block;
      content: "";
      width: 77%;
      height: 2px;
      background-color: #fff;
      bottom: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: opacity .2s ease;
      -o-transition: opacity .2s ease;
      transition: opacity .2s ease; }
    .blog .content__footerText:hover:after {
      opacity: 1; }
  @media screen and (max-width: 1500px) {
    .blog .content__title {
      font-size: 20px;
      padding-bottom: 15px; }
      .blog .content__title:before {
        height: 2px; }
    .blog .content__text {
      line-height: 1.4;
      font-size: 14px; }
    .blog .content__footerText {
      font-size: 16px; } }
  @media screen and (max-width: 1259px) {
    .blog {
      padding-top: 100px; }
      .blog .blog__content {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .blog .content__title {
        font-size: 24px;
        padding-bottom: 25px; }
        .blog .content__title:before {
          height: 2px; }
      .blog .content__text {
        line-height: 1.6;
        font-size: 18px; }
      .blog .content__footerText {
        font-size: 18px; }
      .blog .blog__item {
        width: 85%; }
        .blog .blog__item:nth-child(2) .item__img {
          -webkit-box-ordinal-group: 2;
          -webkit-order: 1;
              -ms-flex-order: 1;
                  order: 1;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          .blog .blog__item:nth-child(2) .item__img:before {
            -webkit-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                    transform: rotate(180deg); }
        .blog .blog__item:nth-child(3) .item__img {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
              -ms-flex-order: 0;
                  order: 0;
          -webkit-box-pack: end;
          -webkit-justify-content: flex-end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
          .blog .blog__item:nth-child(3) .item__img:before {
            -webkit-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                    transform: rotate(0deg); } }
  @media screen and (max-width: 1023px) {
    .blog .blog__item {
      width: 100%; }
    .blog .content__title {
      font-size: 24px;
      padding-bottom: 15px; }
      .blog .content__title:before {
        height: 2px; }
    .blog .content__text {
      font-size: 16px; }
    .blog .content__footerText {
      font-size: 18px; } }
  @media screen and (max-width: 767px) {
    .blog {
      padding-top: 40px; }
      .blog .blog__item {
        position: relative;
        width: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .blog .blog__item:nth-child(2) .item__img {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
              -ms-flex-order: 0;
                  order: 0;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          .blog .blog__item:nth-child(2) .item__img:before {
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg); }
        .blog .blog__item:nth-child(4) .item__img {
          -webkit-box-ordinal-group: 1;
          -webkit-order: 0;
              -ms-flex-order: 0;
                  order: 0;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start; }
          .blog .blog__item:nth-child(4) .item__img:before {
            -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                    transform: rotate(90deg); }
        .blog .blog__item:nth-child(3) .item__img:before {
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
      .blog .item__img {
        width: 100%;
        padding-top: 90%; }
        .blog .item__img::before {
          top: auto;
          right: -webkit-calc(50% - 10px);
          right: calc(50% - 10px);
          bottom: -webkit-calc(0% - 25px);
          bottom: calc(0% - 25px);
          -webkit-transform: rotate(90deg);
              -ms-transform: rotate(90deg);
                  transform: rotate(90deg); }
      .blog .item__content {
        width: 100%;
        height: 100%;
        min-height: 520px; } }
  @media screen and (max-width: 500px) {
    .blog .blog__item {
      width: 100%; }
    .blog .item__img {
      width: 100%;
      padding-top: 90%; }
    .blog .item__content {
      width: 100%;
      height: 100%;
      min-height: 320px;
      max-height: 500px;
      padding-top: 5%;
      padding-bottom: 5%; } }

.feedback {
  background-color: #f4f5f9;
  padding-top: 140px;
  padding-bottom: 150px; }
  .feedback .block-caption__title {
    margin-top: 0; }
  .feedback .feedback__inner {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 76px; }
  .feedback .contacts {
    width: 40.68%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff; }
  .feedback .contacts__inner {
    width: 59.88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    padding-bottom: 50px; }
  .feedback .contacts__address {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feedback .contacts__title {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source_Sans_Pro';
    color: #e74c3c;
    text-transform: uppercase;
    line-height: 1; }
  .feedback .contacts__text {
    width: 100%;
    font-size: 18px;
    font-family: 'Open_Sans';
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.5; }
  .feedback .contacts__phone .contacts__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feedback .feedback__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 56.83%;
    background-color: #fff; }
  .feedback .form {
    width: 69.9%; }
  .feedback .select {
    position: relative;
    margin-bottom: 30px; }
  .feedback .select__title {
    position: absolute;
    font-weight: 600;
    color: #999;
    line-height: 1;
    top: 0; }
  .feedback .select__title--active {
    font-size: 10px; }
  .feedback .form__message {
    width: 100%;
    height: 113px;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    border: 0;
    font-family: 'Open_Sans';
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    resize: none;
    border-bottom: 1px solid #999; }
  .feedback .form__input {
    width: 100%;
    border: 0;
    font-family: 'Open_Sans';
    color: #999;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    height: 45px;
    border-bottom: 1px solid #999; }
  .feedback .form__btn {
    margin-top: 30px; }
  .feedback .error {
    color: #e74c3c;
    font-size: 11px; }
  @media screen and (max-width: 1256px) {
    .feedback {
      padding-top: 100px;
      padding-bottom: 70px; }
      .feedback .feedback__inner {
        margin-top: 40px; } }
  @media screen and (max-width: 1023px) {
    .feedback .feedback__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .feedback .contacts {
      width: 80%;
      margin-bottom: 5%; }
    .feedback .contacts__inner {
      padding-top: 30px;
      padding-bottom: 30px; }
    .feedback .contacts__email .contacts__text {
      margin-bottom: 0; }
    .feedback .feedback__form {
      width: 80%;
      padding: 7% 0; }
    .feedback .btn {
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 767px) {
    .feedback {
      padding-top: 70px;
      padding-bottom: 50px; }
      .feedback .contacts {
        width: 100%; }
      .feedback .form {
        width: 90%; }
      .feedback .form__name {
        max-width: 80%; }
      .feedback .form__subject {
        max-width: 80%; }
      .feedback .form__email {
        max-width: 80%; }
      .feedback .feedback__form {
        width: 100%; } }

.trail .trail__bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 90px;
  -webkit-box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.4) inset;
          box-shadow: 0 0 0 900px rgba(0, 0, 0, 0.4) inset; }

.trail .trail__inner {
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.trail .btn {
  width: 226px; }

.trail .block-caption__title {
  margin-top: 0;
  width: 100%;
  color: #fff;
  font-weight: 400;
  text-transform: none; }

.trail .block-caption__subtitle {
  color: #f4f5f9; }

@media screen and (max-width: 1023px) {
  .trail .trail__bg {
    padding: 10% 0; } }

@media screen and (max-width: 767px) {
  .trail .block-caption__title {
    font-size: 22px; }
  .trail .block-caption__subtitle {
    font-size: 14px; }
  .trail .btn {
    width: 150px;
    padding: 15px 0; } }

.footer {
  padding: 35px 0;
  background-color: #202020;
  position: relative; }
  .footer .footer__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .footer a:hover i {
      color: #e74c3c; }
  .footer .footer__social {
    width: 285px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px; }
  .footer .footer__author {
    color: #7b7b7b;
    line-height: 1;
    cursor: pointer; }
    .footer .footer__author:hover {
      color: #e74c3c; }
  .footer .btn__footer {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -webkit-calc(0% - 26.5px);
    top: calc(0% - 26.5px);
    right: 0;
    width: 53px;
    height: 53px;
    background-color: #e74c3c;
    border-radius: 50%;
    margin-right: 50px;
    cursor: pointer;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease; }
    .footer .btn__footer:after {
      position: absolute;
      display: block;
      top: 43%;
      content: "";
      width: 13px;
      height: 13px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: border-top .2s ease, border-left, .2s ease;
      -o-transition: border-top .2s ease, border-left, .2s ease;
      transition: border-top .2s ease, border-left, .2s ease; }
    .footer .btn__footer:hover {
      background-color: #fff; }
      .footer .btn__footer:hover:after {
        border-top: 2px solid #e74c3c;
        border-left: 2px solid #e74c3c; }
  @media screen and (max-width: 767px) {
    .footer {
      padding: 20px; }
      .footer .footer__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: space-between;
        -webkit-align-items: space-between;
            -ms-flex-align: space-between;
                align-items: space-between;
        height: 50px; }
      .footer .btn__footer {
        display: none; } }
